/* Logo */
.redesigned-theme-2018 #logo a, .redesigned-theme-2018 .logo a{
  background:url("https://test-css-host.netlify.app/logo.png") no-repeat 2% -12px !important;
  height: 100px !important;
  background-size: 120px !important;
  margin-bottom: 10px !important;
}
.redesigned-theme-2018 .wufoo li{
  padding:20px !important;
}
.redesigned-theme-2018 input.btTxt{
  margin-right:372px !important;
  margin-top:20px !important;
}
.redesigned-theme-2018 .buttons a, .redesigned-theme-2018 .buttons div div{
  left:-130% !important;
}
.wufoo li{
  width:100% !important;
}
